*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 0px 50px;
}

main, footer{
    padding: 0px 100px;
}

.btn-nav{
    min-width: 100px;
}

select{
    min-width: 45%;
    border-radius: 8px;
}

@media screen and (max-width: 445px) {
    select{
        min-width: 100%;
    }
}

.headings{
    font-family: "Trirong", serif;
    font-weight: bolder;
}

.paragraphs{
    opacity: 50%;
    text-align: justify;
}

.paragraphs1{
    opacity: 50%;
}

.card-body1{
    background: white;
    border-radius: 5px;
    position: absolute;
    bottom: -2%;
    padding: 8px 10px;
    left: -2%;
}

.fa-star::before{
    color: rgb(183, 183, 6);
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color: green;
}

.card{
    outline: none;
    border: none;
}
